@import url('http://fonts.googleapis.com/css?family=Poiret+One');

/*
  @font-face {
	font-family: PoiretOne;
	src: url('http://fonts.googleapis.com/css?family=PoiretOne');
}
*/
.slider{
	width:320px;
	height:100px;
	background-color:##f6f6f6;
	color:blue;
}

.sliderHeader{
	position:relative;
	background-color:#f6f6f6;
	color:blue;
}

.sliderTitle{
	color:#444444;
	font-weight:normal;
	font-size: 24px;
	font-family: 'Poiret One';
}

.sliderValue{
	color:#33b5e5;
	font-family: Helvetica, sans-serif;
	line-height: 18px;
}

.blueSlider{
	position:relative;
	left:20px;
	top:30px;
}

.blueSlider .selected-bar{
	background-color:#33b5e5;
}

.blueSlider .back-bar {
	background-color:transparent;
	height: 3px;
	position: relative;
}

.blueSlider .back-bar .pointer {
	background-color: transparent;
	background-image:url("pb_handle_on_v2.png");
    width: 22px;
    height: 46px;
	top:-4px;
	left:0px;
}

.blueSlider .back-bar .pointer:hover {
	background-image:url("pb_handle_on_v2_DP.png");
}

.blueSlider .back-bar .pointer:active {
	background-image:url("pb_handle_on_v2_DP.png");
}

.blueSlider .back-bar .pointer-label {
	font-family: Helvetica, sans-serif;
	left:0px;
	font-size:8pt;
	color:gray;
	top:24px;
}

#sliderPBRhythm{
	background-image:url("pb_rhythm_BG.png");
	background-repeat: no-repeat;
	background-position: 0 53px;
	position:absolute;
	left:0px;
	top:0px;
}

#sliderPBSpeed{
	background-image:url("pb_speed_BG.png");
	background-repeat: no-repeat;
	background-position: 0 53px;
	position:absolute;
	left:0px;
	top:122px;
}

#sliderPBMood{
	background-image:url("pb_mood_BG.png");
	background-repeat: no-repeat;
	background-position: 0 53px;
	position:absolute;
	left:0px;
	top:133px;
}

#sliderPBExperimental{
	background-image:url("pb_experimental_BG.png");
	background-repeat: no-repeat;
	background-position: 0 53px;
	position:absolute;
	left:0px;
	top:133px;
}

.catalog-button{
	height: 50px;
	width: 320px;
	background-color: #f6f6f6;
	border: 1px solid #666666;
	font-family: 'Poiret One';
	font-size: 24px;
	color: #666666;
	text-align: center;
}

.catalog-button:hover{
	background-color: #33b5e5;
	border: 1px solid #33b5e5;
	color: #ffffff;
}

.catalog-button:visited{
	background-color: #f6f6f6;
	border: 1px solid #666666;
	color: #666666;
}

.tooltip_icon{
	opacity: 0.3;
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.tooltip_icon:hover{
	opacity: 0.5;
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

#tooltip{
    text-align: center;
		font-family: 'Poiret One';
    color: #fff;
    background: #333333;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #333333;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #333333;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
